PORT = 4000

DATABASE_URL="postgresql://neondb_owner:npg_5mF2KGxEsCkA@ep-dawn-resonance-a1eakmc7.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"

# REDIS_URL = rediss://default:03aa910efbfe4ef7b7cfe0d488f3559c@apn1-lasting-shrimp-35584.upstash.io:35584

JWT_SECRET = super-super_secret-key_for-jsonwebtok_en

# #mail credentials
# GMAIL_ID = pandassolutionl@gmail.com
# GMAIL_PASS = cqhm pygi ahzx dues

# #cloudinary
# CLOUDINARY_NAME = dkutur2xo
# CLOUDINARY_API_KEY = 896191129273946
# CLOUDINARY_API_SECRET = xn9OveyFTOnnbi1FE3GcE1c9I_s

#Mysql Database
DB_HOST_DEV = localhost
DB_USER_DEV = root
DB_PASSWORD_DEV =
DB_DATABASE_DEV = ecommerce_dev

DB_HOST_PROD =
DB_USER_PROD =
DB_PASSWORD_PROD =
DB_DATABASE_PROD =